<script src="/statics/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/statics/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/statics/js/vendor/jquery.dataTables.min.js"></script>
<script src="/statics/js/vendor/dataTables.bootstrap4.min.js"></script>
<script src="/statics/js/vendor/moment-with-locales.min.js"></script>
<script src="/statics/js/vendor/moment-timezone-with-data.min.js"></script>

<script src="/statics/js/common/jquery.cookie.js"></script>
<!--File Download(zip)-->
<script src="/statics/js/dist/jszip.js"></script>
<script src="/statics/js/dist/FileSaver.js"></script>
<!--Toggle-->
<script src="/statics/js/dist/bootstrap4-toggle.js"></script>
<script src="/statics/js/common/common.js"></script>
<script src="/statics/js/common/sidebar.js"></script>